@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "Playfair Display",
  serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url(Desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

    @media (max-width: 576px) {
      background-image: url(mobile_bg.png);
      background-position: center;
    }
      
}

.container {
  background-color: white;
  background-image: url(Rectangle.png);
  padding: 20px;
  max-width: 430px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.31);
  border-radius: 26px;
  box-shadow: -5px 8px 20px 0px rgba(28, 12, 3, 0.27),
  -18px 31px 36px 0px rgba(28, 12, 3, 0.24),
  -41px 69px 48px 0px rgba(28, 12, 3, 0.14),
  -73px 123px 57px 0px rgba(28, 12, 3, 0.04),
  -114px 192px 63px 0px rgba(28, 12, 3, 0.01);

    @media (max-width: 576px) {
      max-width: calc(100% - 30px);
    }
}

.question {
  margin-bottom: 20px;
  color: rgb(54, 50, 48);
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 700;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
}

.options {
  list-style: none;
  padding: 0;
}

.options li {
  margin-bottom: 10px;
}

.options button {
  border: 2px solid rgba(255, 255, 255, 0.31);
  border-radius: 26px;
  box-shadow: 0px 3px 7px 0px rgba(32, 12, 4, 0.14),
  0px 12px 12px 0px rgba(32, 12, 4, 0.12),
  0px 28px 17px 0px rgba(32, 12, 4, 0.07);
  background: rgb(120, 61, 36);
  cursor: pointer;
  color: rgb(199, 180, 150);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 72px 16px 72px;
  width: 100%;  

  @media (max-width: 576px) {
    padding: 16px 20px 16px 20px;
  }
}

.options button:hover {
  background-color: #333;
}